Repository mauroociappinaph/HOTELCRM: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck, pnpm exec sort-package-json

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write",
    "tsc --noEmit --skipLibCheck"
  ],
  "*.{js,jsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "package.json": [
    "pnpm exec sort-package-json",
    "prettier --write"
  ]
}

docs: add comprehensive enterprise analysis report
  HOTELCRM_COMPREHENSIVE_ANALYSIS_REPORT.md
Due: prettier --write

feat: add enterprise CI/CD optimization and comprehensive analysis
  .github/workflows/ci-optimized.yml
  apps/auth-service/tsconfig.tsbuildinfo
Due: prettier --write

refactor(context-manager): reduce cyclomatic complexity in optimizeContext
  apps/auth-service/src/modules/context-manager/context-optimizer.service.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat: optimize N+1 queries in backend
  apps/auth-service/src/infrastructure/repositories/data-loader.service.ts
  apps/auth-service/src/infrastructure/repositories/supabase.repository.ts
  apps/auth-service/src/modules/ai/chat.service.ts
  apps/auth-service/src/modules/ai/embeddings.service.ts
  apps/auth-service/tsconfig.tsbuildinfo
  packages/shared/src/types/repository.types.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat: add DataLoader package for N+1 query prevention
  apps/auth-service/package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm exec sort-package-json

fix: resolve TypeScript compilation errors in build
  apps/auth-service/src/infrastructure/repositories/data-loader.service.ts
  apps/auth-service/src/infrastructure/repositories/supabase.repository.ts
  apps/auth-service/tsconfig.tsbuildinfo
  apps/web/app/api/security/route.ts
  packages/shared/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

chore(config): centralize typescript paths and fix shared package resolution
  apps/auth-service/tsconfig.json
  tsconfig.base.json
Due: prettier --write

fix(types): resolve shared package resolution and eliminate ambiguities in web app
  apps/auth-service/tsconfig.json
  apps/web/tsconfig.json
  apps/web/tsconfig.tsbuildinfo
  packages/shared/src/index.ts
  packages/shared/tsconfig.tsbuildinfo
  tsconfig.base.json
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

fix(security): sanitize search query to prevent PostgREST injection
  .gemini_security/DRAFT_SECURITY_REPORT.md
  .gemini_security/SECURITY_ANALYSIS_TODO.md
  apps/auth-service/src/infrastructure/repositories/supabase.repository.ts
  reports/security/investigation_report_2026_01_21.md
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

test(security): add sanitization unit tests and fix test infrastructure
  apps/auth-service/jest.config.js
  apps/auth-service/test/unit/infrastructure/repositories/supabase.repository.spec.ts
  apps/auth-service/tsconfig.json
  packages/shared/src/types/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat(security): implement PII scrubbing and secure multitenancy RPC
  .gemini_security/SECURITY_ANALYSIS_TODO.md
  apps/auth-service/src/modules/ai/ai.module.ts
  apps/auth-service/src/modules/ai/chat.service.ts
  apps/auth-service/src/modules/security/pii.service.ts
  apps/auth-service/src/modules/security/security.module.ts
  apps/auth-service/test/unit/security/pii.service.spec.ts
  reports/security/investigation_report_2026_01_21_part2.md
  supabase/migrations/008_create_search_similar_documents_rpc.sql
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

test(security): add chat service integration tests and fix test infrastructure
  apps/auth-service/jest.config.js
  apps/auth-service/src/modules/ai/chat.service.ts
  apps/auth-service/test/unit/ai/chat.service.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat(security): implement PII scrubbing in embeddings service
  .gemini_security/SECURITY_ANALYSIS_TODO.md
  apps/auth-service/src/modules/ai/embeddings.service.ts
  apps/auth-service/test/unit/ai/embeddings.service.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat(security): enforce multitenancy in memory system
  .gemini_security/SECURITY_ANALYSIS_TODO.md
  apps/auth-service/src/modules/ai/chat.service.ts
  apps/auth-service/src/modules/context-manager/memory-manager.service.ts
  apps/auth-service/test/unit/context-manager/memory-manager.service.spec.ts
  supabase/migrations/009_create_memory_system_tables.sql
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat(security): remove dynamic SQL and enforce multitenancy in data quality
  apps/auth-service/src/modules/data-quality/data-quality-gate.service.ts
  apps/auth-service/src/modules/data-quality/quarantine.service.ts
  apps/auth-service/src/modules/etl/etl.service.ts
  supabase/migrations/010_create_quarantine_table.sql
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

refactor(arch): enforce safe projections in SupabaseRepository
  apps/auth-service/src/infrastructure/repositories/supabase.repository.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

refactor(arch): elevate SupabaseRepository with typescript-pro patterns
  apps/auth-service/src/infrastructure/repositories/supabase.repository.ts
  apps/auth-service/test/unit/infrastructure/repositories/supabase.repository.spec.ts
  packages/shared/src/types/advanced-utils.types.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

refactor(arch): apply typescript-pro strict typing across auth-service
  apps/auth-service/src/common/interfaces/request.interface.ts
  apps/auth-service/src/modules/ai/ai.controller.ts
  apps/auth-service/src/modules/data-quality/quarantine.service.ts
  apps/auth-service/src/modules/etl/deduplication.service.ts
  apps/auth-service/src/modules/etl/etl.service.ts
  apps/auth-service/src/modules/etl/interfaces/etl.interface.ts
  apps/auth-service/src/modules/monitoring/monitoring.service.ts
  apps/auth-service/src/modules/payments/payments.controller.ts
  packages/shared/src/types/auth.types.ts
  packages/shared/src/types/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

docs: consolidate global technical vision and strategy manifesto
  SENIOR_ARCHITECT_VISION.md
Due: prettier --write

chore: cleanup technical entropy and sanitize workspace filesystem
  SENIOR_ARCHITECT_VISION.md
  apps/auth-service/tsconfig.tsbuildinfo
  bisect-test.sh
  demo-multi-agent-typescript.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

chore: fix ETL interfaces export and finalize sanitization
  apps/auth-service/src/modules/etl/etl.service.ts
  packages/shared/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat(auth-service): implement Swagger/OpenAPI documentation
  apps/auth-service/package.json
  apps/auth-service/src/main.ts
  apps/auth-service/src/modules/auth/auth.controller.ts
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck, pnpm exec sort-package-json

feat(auth-service): implement hexagonal architecture for auth module
  apps/auth-service/src/modules/auth/auth.controller.ts
  apps/auth-service/src/modules/auth/auth.module.ts
  apps/auth-service/src/modules/auth/auth.service.ts
  apps/auth-service/src/modules/auth/domain/ports/auth-provider.port.ts
  apps/auth-service/src/modules/auth/domain/ports/user-repository.port.ts
  apps/auth-service/src/modules/auth/infrastructure/adapters/supabase-auth-provider.adapter.ts
  apps/auth-service/src/modules/auth/infrastructure/adapters/supabase-user-repository.adapter.ts
  apps/auth-service/src/modules/auth/supabase-auth.guard.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat(infra): add supabase type generation script and automate typing pipeline
  package.json
  packages/shared/src/types/database.types.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck, pnpm exec sort-package-json

feat(arch): implement repository pattern for Memory and ETL modules
  TECHNICAL_DEBT_ARCHITECTURE_REPORT.md
  apps/auth-service/src/app.module.ts
  apps/auth-service/src/modules/ai/chat.service.ts
  apps/auth-service/src/modules/ai/interfaces/chat.interface.ts
  apps/auth-service/src/modules/bookings/bookings.controller.ts
  apps/auth-service/src/modules/bookings/bookings.module.ts
  apps/auth-service/src/modules/bookings/bookings.service.ts
  apps/auth-service/src/modules/bookings/domain/ports/booking-repository.port.ts
  apps/auth-service/src/modules/bookings/infrastructure/adapters/supabase-booking-repository.adapter.ts
  apps/auth-service/src/modules/context-manager/context-manager.module.ts
  apps/auth-service/src/modules/context-manager/domain/ports/memory-repository.port.ts
  apps/auth-service/src/modules/context-manager/infrastructure/adapters/supabase-memory-repository.adapter.ts
  apps/auth-service/src/modules/context-manager/memory-manager.service.ts
  apps/auth-service/src/modules/etl/batch-processor.service.ts
  apps/auth-service/src/modules/etl/data-ingestion.service.ts
  apps/auth-service/src/modules/etl/deduplication.service.ts
  apps/auth-service/src/modules/etl/domain/ports/etl-repository.port.ts
  apps/auth-service/src/modules/etl/etl.module.ts
  apps/auth-service/src/modules/etl/etl.service.ts
  apps/auth-service/src/modules/etl/infrastructure/adapters/supabase-etl-repository.adapter.ts
  apps/auth-service/src/modules/etl/streaming-processor.service.ts
  apps/auth-service/src/modules/etl/watermarking.service.ts
  packages/shared/src/types/etl.types.ts
  packages/shared/src/types/index.ts
  packages/shared/src/types/memory.types.ts
  packages/shared/src/types/repository.types.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat(arch): finalize repository abstraction and any extermination in core modules
  TECHNICAL_DEBT_ARCHITECTURE_REPORT.md
  apps/auth-service/src/modules/ai/ai.module.ts
  apps/auth-service/src/modules/ai/chat.service.ts
  apps/auth-service/src/modules/ai/domain/ports/chat-repository.port.ts
  apps/auth-service/src/modules/ai/infrastructure/adapters/supabase-chat-repository.adapter.ts
  apps/auth-service/src/modules/ai/interfaces/chat.interface.ts
  apps/auth-service/src/modules/etl/event-time-processor.service.ts
  apps/auth-service/src/modules/etl/interfaces/etl.interface.ts
  packages/shared/src/types/ai.types.ts
  packages/shared/src/types/etl.types.ts
  packages/shared/src/types/index.ts
  packages/shared/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

fix(arch): stabilize types and tests after core repository refactoring
  apps/auth-service/src/infrastructure/repositories/supabase.repository.ts
  apps/auth-service/test/database/migrations/migrations.spec.ts
  apps/auth-service/test/database/schema/schema-validation.spec.ts
  apps/auth-service/test/unit/infrastructure/repositories/supabase.repository.spec.ts
  apps/auth-service/test/unit/payments/payments.service.spec.ts
  packages/shared/src/types/type-safe-builder.ts
  packages/shared/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat(hardening): integrate helmet, structured logging, and professional health dashboard
  apps/auth-service/package.json
  apps/auth-service/src/common/interceptors/logging.interceptor.ts
  apps/auth-service/src/main.ts
  apps/auth-service/src/modules/health/health.controller.ts
  apps/auth-service/src/modules/health/health.module.ts
  apps/auth-service/src/modules/health/health.service.ts
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck, pnpm exec sort-package-json
