Repository mauroociappinaph/HOTELCRM: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck, pnpm exec sort-package-json

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write",
    "tsc --noEmit --skipLibCheck"
  ],
  "*.{js,jsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "package.json": [
    "pnpm exec sort-package-json",
    "prettier --write"
  ]
}

feat: complete database schema for AI and tax integration
  supabase/migrations/002_complete_schema.sql
Due: none

fix: correct ESLint configuration and package scripts
  .husky/commit-msg
  .husky/pre-commit
  apps/auth-service/package.json
  apps/web/package.json
  apps/web/tsconfig.tsbuildinfo
  commitlint.config.js
  eslint.config.js
  packages/shared/package.json
  packages/shared/src/constants/index.ts
  packages/shared/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck, pnpm exec sort-package-json

feat: implement Google OAuth authentication frontend
  apps/auth-service/src/modules/auth/auth.controller.ts
  apps/auth-service/src/modules/auth/auth.service.ts
  apps/web/app/auth/callback/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/lib/auth-context.tsx
  apps/web/lib/supabase.ts
  apps/web/package.json
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck, pnpm exec sort-package-json

fix: resolve ESLint configuration and browser globals
  apps/auth-service/tsconfig.tsbuildinfo
  apps/web/app/auth/callback/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/lib/auth-context.tsx
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck, pnpm exec sort-package-json

feat: implement Phase 3 - Database & Agency Dashboard
  apps/auth-service/src/app.module.ts
  apps/auth-service/src/infrastructure/supabase/supabase.module.ts
  apps/auth-service/src/modules/auth/supabase-auth.guard.ts
  apps/auth-service/src/modules/dashboard/dashboard.controller.ts
  apps/auth-service/src/modules/dashboard/dashboard.module.ts
  apps/auth-service/src/modules/dashboard/dashboard.service.ts
  apps/auth-service/tsconfig.json
  apps/web/app/dashboard/page.tsx
  apps/web/package.json
  packages/shared/src/dtos/dashboard-stats.dto.ts
  packages/shared/src/dtos/index.ts
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck, pnpm exec sort-package-json

feat: integrate shadcn/ui and Zustand for enhanced frontend architecture
  apps/auth-service/tsconfig.tsbuildinfo
  apps/web/app/dashboard/page.tsx
  apps/web/app/globals.css
  apps/web/components.json
  apps/web/lib/auth-context.tsx
  apps/web/lib/stores/auth-store.ts
  apps/web/lib/stores/dashboard-store.ts
  apps/web/package.json
  apps/web/src/components/ui/avatar.tsx
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/lib/utils.ts
  apps/web/tsconfig.json
  packages/shared/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck, pnpm exec sort-package-json

feat: implement Phase 4 - AI Integrations & RAG System
  apps/auth-service/package.json
  apps/auth-service/src/app.module.ts
  apps/auth-service/src/modules/ai/ai.controller.ts
  apps/auth-service/src/modules/ai/ai.module.ts
  apps/auth-service/src/modules/ai/chat.service.ts
  apps/auth-service/src/modules/ai/embeddings.service.ts
  pnpm-lock.yaml
  supabase/migrations/003_ai_rag_system.sql
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck, pnpm exec sort-package-json

feat: complete Phase 4 AI RAG system setup
  apps/auth-service/package.json
  apps/auth-service/src/infrastructure/supabase/supabase.service.ts
  apps/auth-service/src/modules/ai/ai.controller.ts
  apps/auth-service/src/modules/ai/chat.service.ts
  apps/auth-service/src/modules/ai/embeddings.service.ts
  apps/auth-service/src/modules/auth/auth.controller.ts
  apps/auth-service/src/modules/auth/auth.service.ts
  apps/auth-service/src/modules/auth/supabase-auth.guard.ts
  apps/auth-service/src/modules/dashboard/dashboard.service.ts
  apps/auth-service/tsconfig.tsbuildinfo
  apps/web/app/dashboard/page.tsx
  apps/web/app/globals.css
  apps/web/src/components/ui/avatar.tsx
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/lib/utils.ts
  packages/shared/src/dtos/dashboard-stats.dto.ts
  pnpm-lock.yaml
  supabase/.vscode/extensions.json
  supabase/.vscode/settings.json
  supabase/supabase/.gitignore
  supabase/supabase/config.toml
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck, pnpm exec sort-package-json

feat: complete Phase 5 - Payments & Stripe Integration
  apps/auth-service/package.json
  apps/auth-service/src/app.module.ts
  apps/auth-service/src/modules/payments/payments.controller.ts
  apps/auth-service/src/modules/payments/payments.module.ts
  apps/auth-service/src/modules/payments/payments.service.ts
  apps/auth-service/src/modules/payments/stripe.service.ts
  apps/auth-service/src/modules/payments/webhooks.controller.ts
  apps/web/package.json
  packages/shared/src/types/index.ts
  packages/shared/src/types/payments.types.ts
  pnpm-lock.yaml
  supabase/migrations/004_payments_stripe_integration.sql
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck, pnpm exec sort-package-json

feat: complete Phase 5 testing and documentation
  packages/shared/tsconfig.tsbuildinfo
Due: none

feat: complete Phase 6 - Video Calls & Daily.co Integration
  apps/auth-service/package.json
  apps/web/package.json
  packages/shared/src/types/index.ts
  packages/shared/src/types/video.types.ts
  pnpm-lock.yaml
  supabase/migrations/005_video_calls_daily_co_integration.sql
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck, pnpm exec sort-package-json

feat: complete Phase 7 - Production Deployment Pipeline
  .dockerignore
  .github/workflows/ci.yml
  apps/auth-service/Dockerfile
  apps/auth-service/src/app.module.ts
  apps/auth-service/src/modules/health/health.controller.ts
  apps/auth-service/src/modules/health/health.module.ts
  apps/web/Dockerfile
  apps/web/app/api/health/route.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

🔒 SECURITY: Implement complete protection against CVE-2025-55184/55183
  apps/web/app/api/health/route.ts
  apps/web/app/api/security/route.ts
  apps/web/lib/security-monitor.ts
  apps/web/middleware.ts
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck, pnpm exec sort-package-json

🛡️ SECURITY ADMIN: Complete admin setup for HOTELCRM security management
  apps/auth-service/src/app.module.ts
  apps/auth-service/src/modules/security/security.controller.ts
  apps/auth-service/src/modules/security/security.module.ts
  apps/auth-service/src/modules/security/security.service.ts
  apps/web/app/admin/security/page.tsx
  apps/web/package.json
  apps/web/src/components/ui/tabs.tsx
  pnpm-lock.yaml
  supabase/migrations/006_security_admin_setup.sql
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck, pnpm exec sort-package-json

feat: implement comprehensive payments module testing suite
  apps/auth-service/jest.config.js
  apps/auth-service/package.json
  apps/auth-service/src/modules/payments/stripe.service.ts
  apps/auth-service/test/setup.ts
  apps/auth-service/test/unit/payments/payments.service.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck, pnpm exec sort-package-json

feat: implement comprehensive database testing suite
  apps/auth-service/package.json
  apps/auth-service/test/README.md
  apps/auth-service/test/database/migrations/migrations.spec.ts
  apps/auth-service/test/database/schema/schema-validation.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck, pnpm exec sort-package-json

docs: update comprehensive testing README with final implementation status
  apps/auth-service/test/README.md
Due: prettier --write

fix: resolve Stripe API version type error by using type assertion
  apps/auth-service/src/modules/payments/stripe.service.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

fix: resolve Stripe TypeScript errors with type assertions
  apps/auth-service/src/modules/payments/stripe.service.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat: install dependencies and fix linting issues
  apps/auth-service/jest.config.js
  apps/auth-service/test/unit/payments/payments.service.spec.ts
  apps/auth-service/tsconfig.spec.json
  apps/auth-service/tsconfig.tsbuildinfo
  apps/web/.eslintrc.json
  eslint.config.js
  packages/shared/src/types/payments.types.ts
  packages/shared/src/types/video.types.ts
  packages/shared/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

perf: optimize dashboard queries and add environment validation
  apps/auth-service/src/config/env.validation.ts
  apps/auth-service/src/main.ts
  apps/auth-service/src/modules/dashboard/dashboard.service.ts
  apps/auth-service/tsconfig.tsbuildinfo
  supabase/migrations/007_comprehensive_rls_policies.sql
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat: comprehensive health checks and DataDog APM monitoring
  apps/auth-service/MONITORING_SETUP.md
  apps/auth-service/src/app.module.ts
  apps/auth-service/src/modules/health/health.controller.ts
  apps/auth-service/src/modules/health/health.service.ts
  apps/auth-service/src/modules/monitoring/monitoring.module.ts
  apps/auth-service/src/modules/monitoring/monitoring.service.ts
  apps/auth-service/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat: scalable ETL pipeline with late-arriving and out-of-order data handling
  apps/auth-service/ETL_PIPELINE_README.md
  apps/auth-service/src/app.module.ts
  apps/auth-service/src/modules/etl/batch-processor.service.ts
  apps/auth-service/src/modules/etl/data-ingestion.service.ts
  apps/auth-service/src/modules/etl/deduplication.service.ts
  apps/auth-service/src/modules/etl/etl.module.ts
  apps/auth-service/src/modules/etl/etl.service.ts
  apps/auth-service/src/modules/etl/event-time-processor.service.ts
  apps/auth-service/src/modules/etl/streaming-processor.service.ts
  apps/auth-service/src/modules/etl/watermarking.service.ts
  apps/auth-service/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat: complete HOTELCRM implementation with health monitoring and ETL pipelines
  apps/auth-service/tsconfig.tsbuildinfo
Due: none

feat: implement bulletproof data pipelines with quality gates and quarantine system
  apps/auth-service/src/app.module.ts
  apps/auth-service/src/modules/data-quality/business-rules-engine.service.ts
  apps/auth-service/src/modules/data-quality/data-quality-gate.service.ts
  apps/auth-service/src/modules/data-quality/data-quality.module.ts
  apps/auth-service/src/modules/data-quality/quality-metrics.service.ts
  apps/auth-service/src/modules/data-quality/quarantine.service.ts
  apps/auth-service/src/modules/data-quality/schema-validator.service.ts
  apps/auth-service/src/modules/etl/etl.module.ts
  apps/auth-service/src/modules/etl/etl.service.ts
  apps/auth-service/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat: implement advanced memory management system for AI context
  apps/auth-service/src/modules/context-manager/context-assembler.service.ts
  apps/auth-service/src/modules/context-manager/context-manager.module.ts
  apps/auth-service/src/modules/context-manager/memory-manager.service.ts
  apps/auth-service/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat: complete advanced context management system implementation
  apps/auth-service/src/app.module.ts
  apps/auth-service/src/modules/ai/chat.service.ts
  apps/auth-service/src/modules/context-manager/context-manager.module.ts
  apps/auth-service/src/modules/context-manager/context-optimizer.service.ts
  apps/auth-service/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat: add multi-agent coordinator to context manager module
  apps/auth-service/src/modules/context-manager/context-manager.module.ts
  apps/auth-service/src/modules/context-manager/multi-agent-coordinator.service.ts
  apps/auth-service/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat: complete TypeScript Pro implementation with advanced types and patterns
  packages/shared/src/index.ts
  packages/shared/src/types/advanced-utils.types.ts
  packages/shared/src/types/type-safe-builder.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat: complete Phase 1 analysis - comprehensive code quality assessment
  CODE_QUALITY_ANALYSIS.md
  HOTELCRM_TECHNICAL_DOCUMENTATION.md
  architecture-assessment-report.md
  code-review-analysis-report.md
  demo-multi-agent-typescript.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat: Phase 2 critical implementations - Repository Pattern & Security Fixes
  apps/auth-service/src/infrastructure/repositories/supabase.repository.ts
  apps/auth-service/tsconfig.tsbuildinfo
  packages/shared/src/index.ts
  packages/shared/src/types/repository.types.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

fix: resolve remaining TypeScript errors in repository implementation
  apps/auth-service/src/infrastructure/repositories/supabase.repository.ts
  apps/auth-service/tsconfig.tsbuildinfo
  packages/shared/src/types/repository.types.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

fix: comprehensive error resolution using advanced SKILLS
  apps/auth-service/src/infrastructure/repositories/supabase.repository.ts
  apps/auth-service/tsconfig.tsbuildinfo
  packages/shared/src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat: complete HOTELCRM production-ready release
  apps/auth-service/src/modules/ai/chat.service.ts
  apps/auth-service/src/modules/context-manager/memory-manager.service.ts
  apps/auth-service/tsconfig.tsbuildinfo
  packages/shared/src/index.ts
  packages/shared/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat: complete GIT-ADVANCED-WORKFLOWS surgery demonstration
  bisect-test.sh
Due: none

feat: advanced code smell detection and quality analysis
  CODE_SMELL_DETECTION_ADVANCED_REPORT.md
  code-quality-metrics.json
  run-code-quality-analysis.sh
Due: prettier --write

fix: improve code quality analysis script robustness
  run-code-quality-analysis.sh
Due: none

feat: complete code modularity refactor using Code Modularity Architect
  apps/auth-service/src/modules/context-manager/context-optimizer.service.ts
  apps/auth-service/src/modules/context-manager/context-optimizer/index.ts
  apps/auth-service/src/modules/context-manager/context-optimizer/strategies/base-strategy.ts
  apps/auth-service/src/modules/context-manager/context-optimizer/strategies/index.ts
  apps/auth-service/src/modules/context-manager/context-optimizer/strategies/redundancy-elimination.strategy.ts
  apps/auth-service/src/modules/context-manager/context-optimizer/types/index.ts
  apps/auth-service/src/modules/context-manager/context-optimizer/utils/index.ts
  apps/auth-service/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat: complete code modularity refactor using Code Modularity Architect
  apps/auth-service/src/modules/context-manager/multi-agent-coordinator.service.ts
  apps/auth-service/src/modules/context-manager/multi-agent-coordinator/agents/agent-registry.service.ts
  apps/auth-service/src/modules/context-manager/multi-agent-coordinator/agents/index.ts
  apps/auth-service/src/modules/context-manager/multi-agent-coordinator/execution/index.ts
  apps/auth-service/src/modules/context-manager/multi-agent-coordinator/execution/task-executor.service.ts
  apps/auth-service/src/modules/context-manager/multi-agent-coordinator/index.ts
  apps/auth-service/src/modules/context-manager/multi-agent-coordinator/synthesis/index.ts
  apps/auth-service/src/modules/context-manager/multi-agent-coordinator/synthesis/result-synthesizer.service.ts
  apps/auth-service/src/modules/context-manager/multi-agent-coordinator/tasks/index.ts
  apps/auth-service/src/modules/context-manager/multi-agent-coordinator/tasks/task-manager.service.ts
  apps/auth-service/src/modules/context-manager/multi-agent-coordinator/types/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck

feat: complete project organization refactor - security & structure improvements
  .gitignore
  CODE_SMELL_DETECTION_ADVANCED_REPORT.md
  bisect-test.sh
  code-quality-metrics.json
  code-review-analysis-report.md
  demo-multi-agent-typescript.ts
  docs/README.md
  docs/architecture/assessments/architecture-assessment-report.md
  docs/architecture/technical-docs/HOTELCRM_TECHNICAL_DOCUMENTATION.md
  docs/business/analysis/ANALISIS_GOOGLE_DEEP_SEARCH.MD
  docs/business/model/MODELO_DE_NEGOCIO.MD
  docs/development/code-quality/CODE_QUALITY_ANALYSIS.md
  run-code-quality-analysis.sh
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit --skipLibCheck
